<%-include('../partials/head')%>

<%-include('../partials/header')%>

<h1>Listado de Productos</h1>

<% if (productos.length === 0) { %>
    <h5>No hay Productos Para Mostrar</h5>
<% } else { %>
    <ul>
        <% productos.forEach(unProducto => { %>
        <li>
            <strong>ID:</strong><%= unProducto.id %>
            <strong>Nombre:</strong><%= unProducto.nombre %>
            <strong>Precio: $</strong><%= unProducto.precio %>
            <a href="/productos/detalle/<%= unProducto.id %> ">Ver más</a>
        </li>
        <% }) %>
    </ul>
<% } %>


<!--
    <div class="container">
    <div class="row">
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                <img class="img-item" src="/images/producto.jpg" alt="toxic">
                <div class="item">
                    <div class="item-price">
                        $1000
                    </div>
                    <div class="item-description">
                        Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                    </div>
                </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>    
    </div>
</div>
-->
<%-include('../partials/footer')%>

<%-include('../partials/foot')%>