<%-include('../partials/head')%>

<%-include('../partials/header')%>

<!--
<div class="container">

    <h2>Necesitamos algunos datos...</h2>

    <form action="/registrarse" method="post">

        <div>
            <label for="nombreDeUsuario">Nombre De Usuario:</label>
            <input type="text" id="nombreDeUsuario" name="nombreDeUsuario">
        </div>

        <div>
            <label for="celular">Celular:</label>
            <input type="tel" id="celular" name="celular">
        </div>

        <div>
            <label for="mail">e-Mail:</label>
            <input type="email" id="mail" name="email">
        </div>

        <div>
            <label for="contraseña">Contaseña:</label>
            <input type="password" id="contraseña" name="contraseña">
        </div>

        <div>
            <label for="confirmarContraseña"> Confirmar Contaseña:</label>
            <input type="password" id="confirmarContraseña" name="confirmarContraseña">
        </div>

        <button type="submit">Registrarse</button>

    </form>

</div>
-->

<div class="container">

	<div class="d-flex justify-content-center h-100">
            
			<div class="card-body">

                <h3>Necesitamos algunos datos...</h3>

                <form action="/registrarse" method="POST">	<!--???????????????????????-->
                    
					<div class="input-group form-group">
                        <div class="input-group-prepend"></div>
						<input type="text" class="form-control" name="nombreDeUsuario" placeholder="Nombre De Usuario">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend"></div>
						<input type="text" class="form-control" name="direccion" placeholder="Dirección">
                    </div>

                    <div class="input-group form-group">
						<div class="input-group-prepend"></div>
						<input type="text" class="form-control" name="celular" placeholder="Celular">
                    </div>

                    <div class="input-group form-group">
						<div class="input-group-prepend"></div>
						<input type="text" class="form-control" name="mail" placeholder="e-Mail">
                    </div>
                    
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
						<input type="password" class="form-control" name="password" placeholder="Contaseña">
                    </div>
                    
                    <div class="input-group form-group">
						<div class="input-group-prepend"></div>
						<input type="password" class="form-control" name="confirmarPassword" placeholder="Confirmar Contaseña">
                    </div>

                    <% if (typeof errors != 'undefined'){ %>
                        <ul>
                            <% for (let i = 0; i < errors.length; i++) {%>
                            <li class="errors"><%= errors[i].msg %> </li>
                            <% }; %>
                        </ul>
                        <% } %>

                    <button type="submit">Registrarse</button>

                </form>
                
			</div>
			</div>
	</div>
</div>

<%-include('../partials/footer')%>

<%-include('../partials/foot')%>